/* CSS Document */
body {
    background: #f1f1f1;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: #ffff;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 20px;
    border-radius: 10px;    
}

.frm-row {
    margin-bottom: 12px;
}

.frm-row label {
    display: block;
    margin-bottom: 2px;
}

.frm-row input {
    width: calc(100% - 20px);
    height: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

li {
    margin-bottom: 11px;
}